<!-- <img class='fixed-image' src='/assets/terrarium.jpg'</img> -->
<div class='transparent-text-table'>
  <div class='transparent-text-cell'>
    <p>LITTLE WORLDS<p>
    <p>WORKSHOP</p>
  </div>
</div>
<div class='placeholder'>
  placeholder
</div>

