<!-- <img class='fixed-image' src='/assets/terrarium.jpg'</img> -->
<div id="home">
  <div class="home">
    <div class="transparent-text-table">
      <div class="transparent-text-cell">
        <p>Little Worlds</p>
        <p>Workshop</p>
        <div class="divider"></div>
        <p><span>Five words describing Little Worlds</span></p>
      </div>
    </div>
    <!-- Begin MailChimp Signup Form -->
    <div class="mc-embed">
      <form action="//littleworldsworkshop.us11.list-manage.com/subscribe/post?u=4eb3e5bf693e72b1c11b47789&amp;id=e1e279aa36" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <label for="mce-EMAIL">Find out what's happening with Little Worlds Workshop</label>
        <div class="boxes">
        <input type="email" value="" name="EMAIL" placeholder="email address" class="email-input" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_4eb3e5bf693e72b1c11b47789_e1e279aa36" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" class="submit">
          </div>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>
<div class="main-content">
  <div id="about">
    <div class="section-title">
      <h2>About Little Worlds Workshop</h2>
    </div>
    <div class="about-text">
    <p>
      In the middle of our everyday full and busy lives, it can feel hard to engage with your child in a focused meaningful way.  We want to give them all of our attention while they tell us stories or want to play, but our attention is so often pulled in a myriad of necessary directions.
    </p><p>
      Little Worlds workshop is here to help! Our classes are designed to create the space and time for you and child to connect through play and creative activities and create positive relational habits that you can carry forward into your everyday life. The classes are designed for pairs of one child (aged 4-6) and one parent. You and your child will create a little world inside a sand tray and then capture the story of that world in a book and a terrarium you will be able to take home. Elements of storytelling, photography, mindfulness, and relaxation skills will be woven throughout the workshop. Every parent/child set has their own teepee to cuddle up in or play.
    </p><p>
      Throughout the three week workshop, you will be given the opportunity to follow your child’s lead through play and get a glimpse of the little world inside his/her head. This is a time and space to simply enjoy the unique person that is your child. This is a no pressure environment! The emphasis of the class is on providing a positive space for you and your child to smile together and not on producing a “perfect” product.
    </p><p>
      We spend a lot of our time with our kids in this age range, shuttling them from one activity to another. Little Worlds is designed specifically to allow you to engage in activities with and focused on you and your child. It is a safe, fun, and creative environment designed to allow you to do the thing you want the most, be 100% present with your kid.  It is not a therapy group. It is like an art or play class with a very important added bonus.
    </p>
    </div>
    <div class="picture-row">
      <div class="picture-third">
        <img src="/images/16.jpg" />
      </div>
      <div class="picture-third">
        <img src="/images/6.jpg" />
      </div>
      <div class="picture-third">
        <img src="/images/1.jpg" />
      </div>
    </div>
  </div>
  <div id="me">
    <div class="section-title">
      <h2>About Me</h2>
    </div>
    <div class="about-text">
      <p>
        I am a creative, a mother, and a licensed clinical social worker. I obtained my master’s degree in social work from the University of Pennsylvania in 2007 and have since specialized in helping children and families navigate transitions, heal from trauma, and develop deeper relationships. Most recently, I worked as a teacher at an arts based preschool, provided mental health consultation to public preschools, and provided therapy to children and families in San Francisco. I also have a deep love of glitter, thread, and imagination.
      </p><p>
        As a therapist and a mother, I understand and deeply value the power of play and creative space as a way to feed and develop the connection between a child and parent. By following a child’s lead in play, validating the child’s feelings and ideas, and shutting out all other distractions we demonstrate to our children at a very fundamental and tangible level that we value who they are and what they care about. My own personal experience, as well as contemporary research, also demonstrate that a child’s understanding that their parent truly SEES them and values them as an individual has an impact on every other parental task. Having a strong well-fed mutual connection with our child does not mean that the child isn’t going to do the developmental testing work they need to do. However, the families I work with, as well as my own, testify that the everyday navigation of life and developmental needs of the family feels lighter when the connection between the child and parent has been recently nourished.
      </p>
    </div>
  </div>
  <div id="what">
    <div class="section-title">
      <h2>What You'll Do</h2>
    </div>
    <div class="icons-columns">
      <div class="icon-sixth">
        <img src="/images/12.jpg" />
        <p><span>Connect</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
      <div class="icon-sixth">
        <img src="/images/5.jpg" />
        <p><span>Create</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
      <div class="icon-sixth">
        <img src="/images/4.jpg" />
        <p><span>Play</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
      <div class="icon-sixth">
        <img src="/images/11.jpg" />
        <p><span>Relax</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
      <div class="icon-sixth">
        <img src="/images/16.jpg" />
        <p><span>Enjoy</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
      <div class="icon-sixth">
        <img src="/images/6.jpg" />
        <p><span>Something</span></p>
        <p>Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child Expect to engage with and enjoy the unique person who is your child</p>
      </div>
    </div>
  </div>
  <div id="expect">
    <div class="section-title">
      <h2>What To Expect</h2>
    </div>
    <div class="about-text">
      <p>
        Expect to engage with and enjoy the unique person who is your child,
        first and foremost! You and your child will have your own teepee to start
        off in and return to whenever you would like. There will be a simple relaxation
        exercise and then you and your child will have the opportunity to
        explore and create in a sand tray with a variety of toys and props.
        We will end with more teepee time, a snack, and another chance to relax our bodies and brains.
        The second workshop will include some play with an instant camera and photo book and we will all make our
         own little world terrariums during the third session.
      </p><p>
        I know at times it can feel hard to parent our children while around other parents and children. The workshop is designed to be a safe place in every sense of the word. This is a special time where there will not be as many rules or expectations, for us or our children, as there may be elsewhere. There is no “wrong” way to experience this workshop, the only goal is for you and your child to connect. There are options for other activities if your child isn’t feeling one of the activities. You can stay in the teepee the whole time if that is what your child needs. The space is designed to be used by children. I am well aware of how children can use a space. Please do not be worried that your children will break or ruin something. The sole purpose of these workshops is to help you and your child disconnect from the everyday worries and reconnect with each other.
      </p>
    </div>
  </div>
  <div id="schedule">
    <div class="social">
      <div class="social-icon">
        <a href="https://instagram.com/littleworldsworkshop" target="_blank">
          <img src="/images/1435896972_Instagram.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.facebook.com/joy.s.ryan" target="_blank">
          <img src="/images/1435896970_Facebook.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.twitter.com/lworldsworkshop" target="_blank">
          <img src="/images/1435896967_Twitter.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="mailto:joy@littleworldsworkshop.com">
          <img src="/images/Gmail-icon-48.png" style="height:5px width:5px"/>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Little Worlds Workshop | Copyright &copy; 2015 Joy Ryan</p>
  </div>
</div>
