<!-- <img class='fixed-image' src='/assets/terrarium.jpg'</img> -->
<div id="home">
  <div class="home">
    <div class="transparent-text-table">
      <div class="transparent-text-cell">
        <p class="title">Little Worlds</p>
        <p class="title">Workshop</p>
        <p class="description">
          Deepen and strengthen your connection with your child through play and creative exploration
        </p>
    </div>
  </div>
</div>
<div class="main-content">
  <div id="about">
    <div class="section-title">
      <h2>About Little Worlds Workshop</h2>
    </div>
    <div class="about-text">
      <p>
        In the middle of our everyday full and busy lives, it can feel hard to engage with your child in a focused
        meaningful way.  We want to give them all of our attention while they tell us stories or invite us to play, but our
        attention is often pulled in a myriad of necessary directions.
      </p><p>
        Little Worlds workshop is here to help! Our classes are designed to create the space and time for you
        and your child to connect. Each class contains focused creative play time, a low pressure arts activity,
        and relaxation and mindfulness activities that you and your child do together. Every element of the workshop is
        designed to maximize the opportunities for you to simply enjoy the unique person that is your child.
      </p><p>
        The workshops are designed for pairs, one child (aged 4-7) and one parent. The emphasis of the class is on
        providing a positive space for you and your child to smile together and not on producing a “perfect” product.
        We encourage parents to follow the lead of the child during play and let themselves and their child enjoy the
        freedom of a moment designed to have fewer rules and expectations than many parts of our lives. Little Worlds
        is a safe, fun, and creative environment designed to allow you to do the thing you want to do the most, be 100%
        present with your kid.
      </p>
    </div>
    <div class="picture-row">
      <div class="picture-third">
        <img src="/images/16.jpg" />
      </div>
      <div class="picture-third">
        <img src="/images/6.jpg" />
      </div>
      <div class="picture-third">
        <img src="/images/1.jpg" />
      </div>
    </div>
  </div>
  <div id="me">
    <div class="section-title">
      <h2>About Me: Joy Ryan</h2>
    </div>
    <div class="about-text">
      <p>
        I am a creative, a mother, and a licensed clinical social worker. I obtained my master's degree in
        social work from the University of Pennsylvania in 2007 and have since specialized in helping children and
        families navigate transitions, heal from trauma, and develop deeper relationships.  Currently I work as a
        child development specialist for an early childhood education agency.
        I also have a deep love of glitter, thread, and imagination.
      </p><p>
        Little Worlds Workshop was developed to meet a need I saw in myself and the families around me. With kids in the
        4-7 age range, we spend so much of our time shuttling them back and forth from one activity to another. There is
        school, babysitters, work, playdates, dinner to be made and eaten, baths and bedtime. Sometimes it feels like
        the daily
        routine of keeping
        my family alive has swallowed me whole and taken the joy out of my relationship with my child.
      </p><p>
        In my work as a therapist, I see how healing focused, intentional, child directed play between a child and parent
        can be. It creates a base of positive relational experiences that fuel and nourish the parent/child relationship.
        I also see this in my own life. When I am able to sit and play with my daughter without correcting
        her, hurrying her, or trying to teach her something, we create good relationship vibes. We smile, we laugh,
        we truly enjoy each other.
        These vibes last not only
        for that moment but
        carry over into our routine, making the routine more joyful.
      </p><p>
        That is the point of Little Worlds Workshop, to bring joy into our lives by allowing us to connect with our child
        in a way that is not always possible in the middle of everyday life.
      </p>
    </div>
  </div>
  <div id="what">
    <div class="section-title">
      <h2>The Workshops: What You Will Do</h2>
    </div>
    <div class="icons-columns">
      <div class="icon-sixth">
        <img src="/images/12.jpg" />
        <p>
          <span>Connect</span>
        </p>
        <p class="do-description">
          You will have your own cozy teepee full of fun surprises to use as a home base throughout the workshop. Each class will start
          and end with time for parents and children to play in the teepee.
        </p>
      </div>
      <div class="icon-sixth">
        <img src="/images/5.jpg" />
        <p>
          <span>Play</span>
        </p>
        <p class="do-description">
          Play allows a child to explore and understand the world around them. Playing with our child gives us a unique
          view into how our child sees his universe. Little Worlds workshop is all about play!
        </p>
      </div>
      <div class="icon-sixth">
        <img src="/images/4.jpg" />
        <p>
          <span>Stories</span>
        </p>
        <p class="do-description">
          A sand tray will serve as your child's stage. She will use
          toys, props, and natural elements to tell the stories brewing inside her brain. You get to be
          her most important audience and participant.
        </p>
      </div>
      <div class="icon-sixth">
        <img src="/images/11.jpg" />
        <p>
          <span>Create</span>
        </p>
        <p class="do-description">
          Each class includes a craft activity designed to inspire continued play and conversation when you return home.
        </p>
      </div>
      <div class="icon-sixth">
        <img src="/images/16.jpg" />
        <p>
          <span>Relax</span>
        </p>
        <p class="do-description">
          No matter where we go, our bodies go with us. We start and end each class with simple child friendly
          mindfulness and relaxation exercises to help us focus and learn to find calm in our bodies wherever we are.
        </p>
      </div>
      <div class="icon-sixth">
        <img src="/images/6.jpg" />
        <p>
          <span>Enjoy</span>
        </p>
        <p class="do-description">
          There is no "wrong" way to experience this workshop. The only goal is for you and your child to connect. This
          is a special time where there will not be as many rulse or expectations, for you or your child, as there may be
          elsewhere.
        </p>
      </div>
    </div>
  </div>
  <div id="expect">
    <div class="section-title">
      <h2>Background: Theoretical Underpinnings</h2>
    </div>
    <div class="about-text">
      <p>
        The play component of Little Worlds Workshop is based loosely on "Special Play Time", a component of a therapeutic
        approach known as Parent Child Interaction Therapy (PCIT). Special Play Time is a designated play time between
        a child and parent in which the parent allows the child to lead and direct the play while the parent focuses on
        observing, listening, and praising. The model encourages parents to refrain from asking questions, giving
        commands, and/or correcting the child's play. Instead, parents are encouraged to describe their child's play
        out loud, reflect on the child's play, imitate and engage in play as invited to by the child, provide praise
        and encouragement, and demonstrate excitement and enjoyment of the interaction. This kind of play demonstrates
        to your child, in a very tangible way, that you enjoy being with them and are interested in what they are doing
        and the amazing little human that they are.
      </p><p>
        Little Worlds workshops are not therapy and are not an
        adequate representation of the PCIT model. They ARE a fun way to engage with your child that just so happens
        to be a bit therapeutic!
      </p><p>
        You can find more information about
        <a href="http://tinyurl.com/lhtvjcd" target="_blank"> Special Play Time</a>
        and more
        about <a href="http://pcit.phhp.ufl.edu/" target="_blank"> PCIT</a> as a whole.
      </p>
    </div>
  </div>
  <div id="schedule">
    <div class="section-title">
      <h2>Upcoming Classes and Contact</h2>
    </div>
    <div class="about-text">
      <p>
        We are happy to announce Little Worlds Workshops will be coming to the lovely Rabbit Hole Children's
        Theater in Noe Valley this summer. We are offering three classes which will each offer a different craft activity.
        Pick your favorite one or come to all three!

        <p><img src="/images/lww_photo.jpg" /></p>

        <p>Sunday, June 12, 10am: <strong>Our Little Glass World</strong> // A Parent and Child Terrarium Building and Play Workshop</p>
        <p>Sunday, July 10, 10am: <strong>Our Little Big Story</strong> // A Parent and Child Book Making and Play Workshop</p>
        <p>Sunday, August 7, 10am: <strong>Our Little House</strong> // A Parent and Child Cardboard House Making and Play Workshop</p>
        <p><a href="mailto:joy@littleworldsworkshop.com">JOIN US!</a></p>
        <p>The workshops are $50 each or $120 for all three. Each class is an hour and a half.</p>

      </p>
    </div>
    <!-- Begin MailChimp Signup Form -->
    <div class="mc-embed">
      <form action="//littleworldsworkshop.us11.list-manage.com/subscribe/post?u=4eb3e5bf693e72b1c11b47789&amp;id=e1e279aa36" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <label class="newsletter-label" for="mce-EMAIL">Find out what's happening with Little Worlds Workshop</label>
        <div class="boxes">
        <input type="email" value="" name="EMAIL" placeholder=" email address" class="email-input" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_4eb3e5bf693e72b1c11b47789_e1e279aa36" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" class="submit">
          </div>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
    <div class="social">
      <div class="social-icon">
        <a href="https://instagram.com/littleworldsworkshop" target="_blank">
          <img src="/images/1435896972_Instagram.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.facebook.com/groups/littleworldsworkshop/" target="_blank">
          <img src="/images/1435896970_Facebook.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.twitter.com/lworldsworkshop" target="_blank">
          <img src="/images/1435896967_Twitter.png" />
        </a>
      </div>
      <div class="social-icon">
        <a href="mailto:joy@littleworldsworkshop.com">
          <img src="/images/Gmail-icon-48.png" style="height:5px width:5px"/>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Little Worlds Workshop | Copyright &copy; 2016 Joy Ryan</p>
  </div>
</div>
